@import url('https://fonts.googleapis.com/css?family=Lato');
* {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}
::-webkit-scrollbar {
    width: 8px;
    height: 5px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}
 ::-webkit-scrollbar-thumb {
    background: #d44005;
}
::-webkit-scrollbar-thumb:hover {
    background: #ff4800;
} 
.section-view{
 margin-left: 50px;
}

.error-msg{
    text-align: center;
    text-transform: capitalize;
    color: #555555;
}
.error-msg .far{
    font-size: 50px;
    display: block;
    margin-bottom: 20px;
}

/* SWEET ALLERTS STYLE */


/* swwet allert overlay*/
.swal2-container {
    background: #27272785 !important;
}
/* swwet allert box*/
.swal2-popup {
border-radius: 3px;
text-align: center;
}

/* swwet allert confirm and cancel btn*/
.swal2-cancel, .swal2-confirm{
    position: relative;
    border: 0;
    border-radius: 3px;
    text-align: center;
    color:white;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
    margin: 1rem;
    padding: 0.7rem;
    transition: all .1s;
    outline: none;
}
.swal2-cancel{
    background: red !important;
}
.swal2-confirm{
    background: #555555 !important;
}
.swal2-confirm:hover ,.swal2-cancel:hover {
    transform: translateY(-2px);
}

.swal2-confirm:active, .swal2-cancel:active {
    transform: translateY(2px);
}
.trainig-section{
    padding-top: 5%;
    display: grid;
    grid-template-columns: 60% 30%;
    grid-column-gap: 10%;
}

.training-chart{
    text-align: left;
}
.training-chart .title{
    color: #555555;
    border-bottom: 1.5px solid #D5D5D5;
    display: inline-block;
    padding: 3px 9px;
    font-size: 30px !important;
    font-weight: 100;
    margin-bottom: 50px;
}
.description{
    margin-top: 20px;
}
.description p{
    font-size: 12px;
    margin-bottom: 10px;
    color:#555555;
}
.description p span{
    display: inline-block;
    width: 10px;
    height: 10px;
}
.desc-one span{
    background: #f7a25e;
}
.desc-two span{
    background: #c73400;
}

