.pie {
  position: relative;
  display: inline-block;
  margin: 0px;
}

.platforms {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 2rem;
}

svg {
  margin-top: 3rem;
  animation: down 0.5s ease-in;
}

.paltform-titles {
  animation: up 0.5s ease-in 0.5s;
  animation-fill-mode: both;
  font-size: 10px;
  margin-right: 12px;
}

.paltform-titles>div {
  margin: 1rem auto;
}

.bar-chart {
  display: block;
  width: 200px;
  margin: 0 auto;
}

@keyframes down {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  80% {
    transform: translateY(0.1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes up {
  0% {
    visibility: visible;
    opacity: 0;
    transform: translateY(1rem);
  }
  80% {
    transform: translateY(-0.1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}