.button {
    position: relative;
    background: #58A5FF;
    border: 0;
    border-radius: 3px;
    text-align: center;
    color:white;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
    margin: 1rem;
    padding: 0.7rem;
    transition: all .1s;
    min-width: 10rem;
}

.button:hover {
    transform: translateY(-2px);
}

.button:active {
    transform: translateY(2px);
}
