.selected-period, .selected-worker{
    display: flex;
    justify-content: space-between;
}
.period-section,
.criteria-section,
.worker-section{
    width:100%;
    color:#575353;
}
p{
    color:#000;
}
.period-section{
    margin-top:20px;
}
input[type='checkbox']{
    min-width:20px;
    height: 20px;
    margin-top: 12px;
}
.worker-section{
    margin-top:12px;
}
