.top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.top p{
    margin-top:30px;
    font-size: 20px;
    border-bottom: #AAAAAA solid 1px;
    color: #555555;
}
table.case-report {
    background: #EEE;
    color: #444444;
    width: 100%;
    border-collapse: collapse;
    padding: 15px;
    margin-bottom: 50px;
    box-shadow: 1px 1px 3px 2px #5a6e7b47;
}
table.case-report td, table.case-report th {
    border-bottom: 1px dashed #AAAAAA;
    padding: 3px 5px;
}
table.case-report tbody td {
    font-size: 14px;
    text-transform: capitalize;
}
table.case-report tbody td:nth-child(odd) {
    font-weight: bold;
    text-transform: capitalize;
}
table.case-report tbody tr:nth-child(odd) {
    font-weight: bold;
    background: #55555524;
    text-transform: capitalize;
}
table.case-report thead {
    border-bottom: 1px dashed #444444;
}
table.case-report thead th {
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    color: #444444;
    text-align: left;
    border-bottom: 1px dashed #444444;
}
 table.case-report tfoot {
    font-size: 15px;
    font-weight: bold;
    padding: 200px;
    border-top: 1px solid #444444;
}
table.case-report tfoot td {
    font-size: 14px;
    font-size: 15px;
    color: #444444;
    font-weight: bold;
    padding:12px;
}
table.case-report tfoot .foot-link{
    text-align: left;
}
.link i{
    color: #ff4800;
    font-size: 16px;
    margin-left: 5px;
    cursor: pointer;
}
