.table {
    margin: 20px 0;
}
.table > div {
    background: #EEE;
    display: flex; 
    justify-content: space-between;
    text-align: center;
    margin: 5px 0;
    padding: 1rem;
}
.table > div:first-child {
    background: #DEDEDE;
}
.table-error {
    text-align: center;
}
.table i {
    cursor: pointer;
    margin: 0 5px;
}
.table .fa-trash-alt {
    color: red;
}
.table .fa-trash-alt:hover {
    color: #c43e3e;
}
.table .fa-info-circle {
    color: #505050;
}
.table .fa-info-circle:hover {
    color: #000;
}
