.label-field {
    display: block;
    font-family: 'lato',sans-serif;
    font-size:20px;
    font-weight: 500;
    color:#505050;
    margin: 1rem;
}

.drop-field {
    margin: .5rem 0;
    display: block;
    height: 50px;
    padding: 0 1rem;
    border: 0;
    border-radius: 3px;
    background: #F1F1F1;
    outline-color: orange;
    font-size: 16px;
}
