.add-participant-fields {
    display: flex;
    margin: 3rem;
    flex-wrap: wrap;
}

.add-participant-row {
    width: 100%;
    display: flex;
}

.form-error {
    color: red;
    font-size: 1rem;
    margin-left: 2rem;
}