.login-page{
    text-align: center;
    /* width: 80%; */
    height: 100vh;
    /* margin: 0 auto; */
    background: rgb(228, 228, 228);
    padding-top: 2%;
}
.login-title{
    text-transform: capitalize;
}
.login-logo{
    width: 200px;
    margin-bottom: 5%;
}
.login-form{
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 30px;
    width: 392px;
    font-family: Lato, sans-serif;
    padding: 68px 0px 90px;
    background: #FFF;
    /* text-align: center; */
    margin: 0 auto;
    /* height: 542px; */
}
.inputs{
    text-align: left;
    margin-left: 50px;
}
