.cards{
    width: 100%;
    text-align: center;
    margin: 5% 0 5% 0;
}
a{
    color:#575353;
}
.welcome, .welcome-p{
    text-transform: capitalize;
}
.welcome{
    margin: 20px 0 20px 0;
}
.welcome-p{
    color:#575353;
}