.cards{
    width: 100%;
    text-align: center;
    margin: 5% 0 5% 0;
}
a{
    color:#575353;
}
.welcome, .welcome-p{
    text-transform: capitalize;
    text-align: center;
}
.welcome{
    margin: 20px 0 20px 0;
}
.welcome-p{
    color:#575353;
}
.charts{
    display: grid;
    grid-template-columns: 50% 50%;
    /* grid-column-gap: 5%; */
    border-bottom: #575353 1px double;
    padding: 15px 0;
}