.dropdown {
    position: relative;
    display:block;
    text-transform: capitalize;
    height: 100px;
    width: 100%;
    margin-left: 15px;
}
.drop-btn{
    background: none;
    border:none;
    outline: none;
    color: #f9f9f9;
    text-transform: capitalize;
    font-size: 18px;
}
.drop-btn .icon{
    color:#FF4800;
    margin-right: 10px;
}
.dropdown-content {
    visibility: visible;
    position: absolute;
    color: #7A7575 !important;
    padding-left: 20px;
    z-index: 1;
    font-size: 16px;
}
.dropdown:hover .dropdown-content {
   visibility: visible;
}
.dropdown-content .link{
    padding-top: 12px;
    padding-left: 15px;
    display: block;
    color: #7A7575 !important;
    text-decoration: none;
}
.dropdown-content .link:hover{
    color: #f9f9f9 !important;
    cursor: pointer;
}
