*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.sidemenu{
    text-transform: capitalize;
}
.menu{
    overflow: hidden;
}
.item{
    overflow: hidden;
}
.btn{
    display: block;
    margin-top: 10px;
    color: #f9f9f9;
    text-transform: capitalize;
    font-size: 18px;
    padding: 8px 15px;
    text-decoration: none;
}
.smenu{
    overflow: hidden;
    transition: max-height 0.3s;
}
.smenu .link{
    display: block;
    padding: 10px 26px;
    color: #7A7575 !important;
    font-size: 16px;
    margin: 4px 0;
    position:relative;
    text-indent: 20px;
}
.smenu .link:before{
    content:"";
    position: absolute;
    width: 5px;
    height: 100%;
    background: #FF4800;
    left:0;
    top:0;
    transition: 0.3s;
    opacity: 0;
}
.smenu .link:hover:before{
    opacity: 1;
}
.link:hover{
    color: #f9f9f9 !important;
    cursor: pointer;
} 
.icon{
    color:#FF4800;
    margin-right:10px;
}
